<!--<div class="marvel-device iphone-x" #device id="device">
  <div class="notch">
    <div class="camera"></div>
    <div class="speaker"></div>
  </div>
  <div class="top-bar"></div>
  <div class="sleep"></div>
  <div class="bottom-bar"></div>
  <div class="volume"></div>
  <div class="overflow">
    <div class="shadow shadow&#45;&#45;tr"></div>
    <div class="shadow shadow&#45;&#45;tl"></div>
    <div class="shadow shadow&#45;&#45;br"></div>
    <div class="shadow shadow&#45;&#45;bl"></div>
  </div>
  <div class="inner-shadow"></div>
  <div class="screen">
    <iframe src="http://localhost:4200/preview" class="w-100 h-100"></iframe>
  </div>
</div>-->
<!--<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed top</a>
</nav>-->

<!--<app-virtual-page></app-virtual-page>-->
<iframe src="http://localhost:4200/preview" class="w-100 h-100"></iframe>
