<form #editForm="ngForm" class="input-group" *ngIf="isEdit">
  <input autocomplete="off"
         type="text"
         name="name"
         [ngModel]="control.name"
         (keyup.enter)="onUpdateControl(control.id,editForm)"
         minlength="3" maxlength="20" required
         class="form-control"
         placeholder="Control Name to Update">
  <div class="input-group-append">
    <button (click)="onUpdateControl(control.id,editForm)"
            [disabled]="editForm.invalid"
            class="btn btn-primary btn-sm"
            type="button">
      <i class="fa fa-save"></i>
    </button>
    <button (click)="controlToEdit = '';controlToEditChange.emit('')"
            class="btn btn-dark btn-sm"
            type="button">
      <i class="fa fa-close"></i>
    </button>
  </div>
</form>

<form #addForm="ngForm" class="input-group" *ngIf="!isEdit">
  <input autocomplete="off"
         type="text"
         name="name"
         ngModel
         minlength="3"
         maxlength="20"
         required
         (keyup.enter)="onAddControl(addForm)"
         class="form-control"
         placeholder="New Control Name">
  <div class="input-group-append">
    <button (click)="onAddControl(addForm)" [disabled]="addForm.invalid" class="btn btn-sm btn-primary" type="button">
      <i class="fa fa-save"></i>
    </button>
  </div>
</form>
