<div class="w-100 position-relative component-container">
  <ng-content></ng-content>
  <div class="d-flex justify-content-center align-items-center action-buttons" [class.is-paste-operation]="cutComponentId || copiedComponentId">
    <button type="button" *ngIf="!(cutComponentId || copiedComponentId)" tooltip="Edit Component" placement="bottom" class="btn btn-warning btn-sm mr-1"
            (click)="editComponent.emit(component.id)">
      <i class="fa fa-edit"></i>
    </button>
    <button type="button" *ngIf="!(cutComponentId || copiedComponentId)" tooltip="Delete Component" placement="bottom" class="btn btn-danger btn-sm mr-1"
            (click)="deleteComponent.emit(component);">
      <i class="fa fa-trash"></i>
    </button>
    <!--<button type="button" tooltip="Copy Component" placement="bottom" class="btn btn-info btn-sm mr-1"
            (click)="cloneComponent.emit(component);">
      <i class="fa fa-clone"></i>
    </button>-->
    <button type="button" (click)="copyComponent.emit(component)" *ngIf="!(cutComponentId || copiedComponentId)" tooltip="Copy Component" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-copy"></i>
    </button>
    <button type="button" (click)="cutComponent.emit(component)" *ngIf="!(cutComponentId || copiedComponentId)" tooltip="Cut Component" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-cut"></i>
    </button>
    <ng-container *ngIf="!(cutComponentId || copiedComponentId)">
    <button type="button" tooltip="Add New Component Before" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-step-backward"></i>
    </button>
    <button type="button" tooltip="Add New Component After" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-step-forward"></i>
    </button>
    <button type="button" tooltip="Add New Component as Child" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-download"></i>
    </button>
    </ng-container>
    <button type="button" *ngIf="cutComponentId || copiedComponentId" tooltip="Paste Component before" placement="bottom" class="paste-before-component btn btn-info btn-sm mr-1">
      <i class="fa fa-backward"></i>
    </button>
    <button type="button" *ngIf="cutComponentId || copiedComponentId" tooltip="Paste Component After" placement="bottom" class="btn btn-info btn-sm mr-1 paste-after-component">
      <i class="fa fa-forward"></i>
    </button>
    <button type="button" *ngIf="cutComponentId || copiedComponentId" tooltip="Paste Component as Child" placement="bottom" class="btn btn-info btn-sm mr-1">
      <i class="fa fa-arrow-circle-down"></i>
    </button>
    <button type="button" *ngIf="cutComponentId || copiedComponentId" (click)="cancelPasteOperation.emit(null)" tooltip="Cancel Paste Component" placement="bottom" class="cancel-paste-operation btn btn-dark btn-sm mr-1">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<div *ngIf="editComponentId == component.id" class="component-border"></div>

<div [class.show]="editComponentId == component.id" class="shadow components-list ux-studio-box" cdkDrag>
  <h6 class="text-white m-0 title">Edit {{_lodash.startCase(component.type)}}
    <i style="cursor: pointer" class="ml-3 fa fa-close text-white" (click)="editComponent.emit('')"></i>
    <div class="ux-studio-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </h6>
  <tabset [justified]="true">
    <tab class="ux-studio-scroll" heading="Layout">
      <ul class="list-group bg-transparent text-white">
        <li class="pl-2 pr-2 list-group-item bg-transparent">
          <a (click)="openWidth=!openWidth" style="cursor: pointer">
            <i class="fa fa-sign-out mr-2 mb-2 ml-2"></i>Width
            <i [class.fa-folder-open-o]="openWidth" [tooltip]="openWidth ? 'Close' : 'Open'"
               [class.fa-folder-o]="!openWidth" class="fa float-right"></i>
            <div class="clearfix"></div>
          </a>
          <ul class="list-group bg-transparent text-white" *ngIf="openWidth">
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">All
                : {{component.col_all == grid_size.ZERO ? '' : component.col_all}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_all" type="range" min="0"
                     max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XL
                : {{component.col_xl == grid_size.ZERO ? '' : component.col_xl}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_xl" type="range" min="0"
                     max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">LG
                :  {{component.col_lg == grid_size.ZERO ? '' : component.col_lg}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_lg" type="range" min="0"
                     max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">MD
                :  {{component.col_md == grid_size.ZERO ? '' : component.col_md}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_md" type="range" min="0"
                     max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">SM
                :  {{component.col_sm == grid_size.ZERO ? '' : component.col_sm}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_sm" type="range" min="0"
                     max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XS
                :  {{component.col_xs == grid_size.ZERO ? '' : component.col_xs}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.col_xs" type="range" min="0"
                     max="12"></li>
          </ul>
        </li>
        <li class="pl-1 pr-1 list-group-item bg-transparent">
          <a (click)="openOffset=!openOffset" style="cursor: pointer">
            <i class="fa fa-sign-in mr-2 mb-2 ml-2"></i>Offset
            <i [class.fa-folder-open-o]="openOffset" [tooltip]="openOffset ? 'Close' : 'Open'"
               [class.fa-folder-o]="!openOffset" class="fa float-right"></i>
            <div class="clearfix"></div>
          </a>
          <ul class="list-group bg-transparent text-white" *ngIf="openOffset">
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">All
                : {{component.offset_all == -1 ? '' : component.offset_all}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_all" type="range"
                     min="-1" max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XL
                : {{component.offset_xl == -1 ? '' : component.offset_xl}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_xl" type="range"
                     min="-1" max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">LG
                :  {{component.offset_lg == -1 ? '' : component.offset_lg}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_lg" type="range"
                     min="-1" max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">MD
                :  {{component.offset_md == -1 ? '' : component.offset_md}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_md" type="range"
                     min="-1" max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">SM
                :  {{component.offset_sm == -1 ? '' : component.offset_sm}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_sm" type="range"
                     min="-1" max="12"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XS
                :  {{component.offset_xs == -1 ? '' : component.offset_xs}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.offset_xs" type="range"
                     min="-1" max="12"></li>
          </ul>
        </li>
        <li class="pl-1 pr-1 list-group-item bg-transparent">
          <a (click)="openPadding=!openPadding" style="cursor: pointer">
            <i class="fa fa-align-left mr-2 mb-2 ml-2"></i>Horizontal Padding
            <i [class.fa-folder-open-o]="openPadding" [tooltip]="openPadding ? 'Close' : 'Open'"
               [class.fa-folder-o]="!openPadding" class="fa float-right"></i>
            <div class="clearfix"></div>
          </a>
          <ul class="list-group bg-transparent text-white" *ngIf="openPadding">
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">All
                : {{component.horizontal_padding_all == padding_size.NONE ? '' : component.horizontal_padding_all}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_all"
                     type="range" min="-1" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XL
                : {{component.horizontal_padding_xl == padding_size.NONE ? '' : component.horizontal_padding_xl}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_xl"
                     type="range" min="-1" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">LG
                :  {{component.horizontal_padding_lg == padding_size.NONE ? '' : component.horizontal_padding_lg}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_lg"
                     type="range" min="-1" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">MD
                :  {{component.horizontal_padding_md == padding_size.NONE ? '' : component.horizontal_padding_md}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_md"
                     type="range" min="-1" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">SM
                :  {{component.horizontal_padding_sm == padding_size.NONE ? '' : component.horizontal_padding_sm}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_sm"
                     type="range" min="-1" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XS
                :  {{component.horizontal_padding_xs == padding_size.NONE ? '' : component.horizontal_padding_xs}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.horizontal_padding_xs"
                     type="range" min="-1" max="5"></li>
          </ul>
        </li>
        <li class="pl-1 pr-1 list-group-item bg-transparent">
          <a (click)="openMargin=!openMargin" style="cursor: pointer">
            <i class="fa fa-align-right mr-2 mb-2 ml-2"></i>Vertical Padding
            <i [class.fa-folder-open-o]="openMargin" [tooltip]="openMargin ? 'Close' : 'Open'"
               [class.fa-folder-o]="!openMargin" class="fa float-right"></i>
            <div class="clearfix"></div>
          </a>
          <ul class="list-group bg-transparent text-white" *ngIf="openMargin">
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">All
                : {{component.vertical_padding_all == padding_size.ZERO ? '' : component.vertical_padding_all}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_all"
                     type="range" min="0" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XL
                : {{component.vertical_padding_xl == padding_size.ZERO ? '' : component.vertical_padding_xl}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_xl"
                     type="range" min="0" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">LG
                :  {{component.vertical_padding_lg == padding_size.ZERO ? '' : component.vertical_padding_lg}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_lg"
                     type="range" min="0" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">MD
                :  {{component.vertical_padding_md == padding_size.ZERO ? '' : component.vertical_padding_md}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_md"
                     type="range" min="0" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">SM
                :  {{component.vertical_padding_sm == padding_size.ZERO ? '' : component.vertical_padding_sm}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_sm"
                     type="range" min="0" max="5"></li>
            <li class="list-group-item bg-transparent">
              <label class="list-group-item-label pl-0 m-0">XS
                :  {{component.vertical_padding_xs == padding_size.ZERO ? '' : component.vertical_padding_xs}}</label>
              <input class="custom-range" (input)="changeColSize()" [(ngModel)]="component.vertical_padding_xs"
                     type="range" min="0" max="5"></li>
          </ul>
        </li>
      </ul>
    </tab>
    <tab class="ux-studio-scroll" heading="Properties">
      <ul class="list-group bg-transparent text-white">
        <li *ngFor="let prop of component.properties"
            class="pl-2 pr-2 list-group-item bg-transparent property-list-item">
          <label class="text-white">{{prop.name}}</label>
          <ng-container [ngSwitch]="prop.type">
            <ng-container *ngSwitchCase="property_type.TEXT">
              <input type="text" [(ngModel)]="prop.value" class="form-control">
            </ng-container>
            <ng-container *ngSwitchCase="property_type.DROPDOWN">
              <select [(ngModel)]="prop.value" class="form-control">
                <option *ngFor="let dropOption of prop.dropDownOption" [ngValue]="dropOption.value">
                  {{dropOption.label}}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="property_type.LIST">
              <app-manage-list [(data)]="prop.value" [idField]="prop.idField"
                               [labelField]="prop.labelField"></app-manage-list>
            </ng-container>
          </ng-container>

        </li>
      </ul>
    </tab>
    <tab class="ux-studio-scroll" heading="Events">
    </tab>
  </tabset>

</div>
