.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #424242;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.open-button {
  position: fixed;
  left: 250px;
  z-index: 10000;
  top: calc(50% - 40px);
  border-radius: 0;
  height: 80px;
  background-color: #424242;
  border-color: #424242;
  transition: 0.5s;

  &.closed {
    opacity: 0.5;

    .fa {
      transition: 0.5s;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 100000;

  .fa {
    color: white;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


.components-list {
  min-width: 100px;
  padding: 0;
  background: #535353;
  border: 5px solid #424242;

  .title {
    background-color: #424242;
    padding: 10px 25px;
  }
}
