:host{
  .add-component-drop-down{
    position: fixed;
    top: calc(50% - (38px / 2));
    left: calc(50% - (161px / 2));
    z-index: 100000;
    ::ng-deep
    ul.dropdown-menu.ng-star-inserted.show {
      max-height: 250px;
      overflow-y: auto;
    }
  }
}

.device-resolution-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  opacity: 0.5;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 100vh;
  align-items: center;
  justify-items: center;
}
