$mainPadding: 20px;
$menuBarHeight: 36px;

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  padding: $mainPadding / 4;
  position: relative;

  .layout-ref-img {
    width: calc(100vw - #{$mainPadding});
    height: calc(100vh - #{$mainPadding});
    margin: $mainPadding / 4;
    z-index: 0;
  }

  .menu-bar {
    width: calc(100% - #{$mainPadding});
    height: $menuBarHeight;
    background-color: #535353;
    position: absolute;
    left: $mainPadding / 2;
    top: $mainPadding / 2 + 1;
    z-index: 2;
    padding-left: 2%;

    ul {
      background: #535353;
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        border-right: 1px solid #353535;

        ul {
          background: #535353;
          visibility: hidden;
          opacity: 0;
          min-width: 5rem;
          position: absolute;
          transition: all 0.5s ease;
          margin-top: 6px;
          border-top: 1px solid #353535;
          left: 0;
          display: none;

          &:hover {
            visibility: visible;
            opacity: 1;
            display: block;
          }

          &:focus {
            visibility: visible;
            opacity: 1;
            display: block;
          }

          li {
            clear: both;
            width: 100%;
            min-width: 200px;
            border-bottom: 1px solid #424242;
          }
        }

        &:hover > ul {
          visibility: visible;
          opacity: 1;
          display: block;
        }

        &:focus-within > ul {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
    }

    li {
      color: #fff;
      background: #535353;
      display: block;
      float: left;
      padding: 6px 9px;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;

      a {
        color: #fff;
      }

      &:hover {
        background: #464444;
        cursor: pointer;
      }

      &:focus-within {
        background: #464444;
        cursor: pointer;

        a {
          outline: none;
        }
      }
    }

  }

  .design-space {
    width: calc(100% - #{$mainPadding});
    background-color: #535353;
    position: absolute;
    left: $mainPadding / 2;
    top: $menuBarHeight + ($mainPadding / 2);
    z-index: 1;
    height: calc(100% - #{$menuBarHeight + $mainPadding});

    .design-space-inner {
      width: calc(100% - 6px);
      border: 2px solid #353535;
      height: calc(100% - 4px);
      margin-left: 3px;
      margin-top: 1px;
      background-color: #353535;
      overflow-y: auto;

      iframe {
        display: block;
        width: calc(100% - 20px) !important;
        height: calc(100% - 20px) !important;
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
        margin: 10px;
      }
      .components-list {
        width: 50px;
        height: 500px;
        background: #535353;
        border: 1px solid #424242;
        border-top: 10px solid #424242;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }

  .content-menu {
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    position: fixed;
    z-index: 1000;

    .list-group-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .content-menu {
        position: absolute;
        right: -200px;
        z-index: 100;
      }
    }
  }

}
