<div class="menu-bar d-none">
  <ul>
    <li>
      Manage Pages
      <ul class="shadow">
        <li>Add Page</li>
        <li>Clone Page</li>
        <li>Edit Page</li>
        <li>Delete Page</li>
        <li>Save as Page Template</li>
      </ul>
    </li>
    <li>
      Manage Services
      <ul class="shadow">
        <li>Add Services</li>
        <li>Clone Services</li>
        <li>Edit Services</li>
        <li>Delete Services</li>
      </ul>
    </li>
    <li>
      Manage Modals
      <ul class="shadow">
        <li>Add Modal</li>
        <li>Clone Modal</li>
        <li>Edit Modal</li>
        <li>Delete Modal</li>
      </ul>
    </li>
    <li>
      Manage Code
      <ul class="shadow">
        <li>Export Angular Code</li>
        <li>Export React Code</li>
      </ul>
    </li>
    <li>
      Manage Design
      <ul class="shadow">
        <li>Save Design</li>
        <li>Import Design</li>
      </ul>
    </li>
  </ul>
</div>
<div class="design-space">
  <!--d-flex align-content-center justify-content-center-->
  <div class="design-space-inner d-flex align-content-center justify-content-center">
    <app-device-emulator></app-device-emulator>
    <!--<iframe src="http://localhost:4200/preview" class="w-100 h-100"></iframe>-->
    <!--<div class="shadow components-list" cdkDrag cdkDragBoundary=".design-space-inner"></div>-->
  </div>
</div>

